
<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:80px">
    <div class="w3" >
        <div class="w3-bar w3-teal w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fas fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large" [routerLink]="['']">HOME</a>
          <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">IGREJA <i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="#" class="w3-bar-item w3-button" [routerLink]="['sobre']">Sobre</a>
              <a href="#" class="w3-bar-item w3-button">Líder</a>
              <a href="#" class="w3-bar-item w3-button" [routerLink]="['onde']">Localização</a>
            </div>
          </div>
          <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">MINISTÉRIOS<i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
              <a href="#" class="w3-bar-item w3-button">Missão Kids</a>
              <a href="#" class="w3-bar-item w3-button">Missão Adolescentes</a>
              <a href="#" class="w3-bar-item w3-button">Missão Jovens</a>
              <a href="#" class="w3-bar-item w3-button">Missão Homens</a>
              <a href="#" class="w3-bar-item w3-button">Missão Mulheres</a>
              <a href="#" class="w3-bar-item w3-button">Missão Família</a>
            </div>
          </div>
          <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CULTOS</a>
          <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small" [routerLink]="['dias_celulas']">CÉLULAS</a>
         
        </div>
      </div>
      
      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#band" class="w3-bar-item w3-button w3-padding-large">IGREJA</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large">MINISTÉRIOS</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CULTOS</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">CÉLULAS</a>
      </div>
      
<div class="row justify-content-sm-center ">
       
<img src="assets/img/manutencao.png" alt="Lights" class="w3-image" style="margin-top:100px;">
</div>
</div>

