<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="#band" class="w3-bar-item w3-button w3-padding-large">IGREJA</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large">MINISTÉRIOS</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CULTOS</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">CÉLULAS</a>
    </div>

    <!--Lider-->
  <h1 class="display-4">Lider</h1>
 <!-- About Section -->
 <div class="w3-container w3-padding-32 w3-center">  
  <h3>José Hosana Siqueira Neto</h3><br>
  <img src="assets/img/pastor.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="500" height="500">
  <div class="w3-padding-32">
    <h4><b>Pastor</b></h4>
    <h6><i>José Neto é o líder da Igreja Assembleia de Deus - Templo Primeiro de Dezembro II, casado com Laryssa Siqueira. </i></h6>
    <p>Falar da gente mesmo é uma coisa complicada, porque as vezes achamos que somos muito, quando na realidade somos apenas dependentes da graça e da misericórdia de Jesus.
        Eu procuro sempre estar na presença de Jesus, porque eu sei que ali eu sou completo! Ali eu posso ser alguma coisa além de um simples homem buscando a perfeição!
        O maior anseio que tenho é estar sempre no centro da vontade de Deus! 
        É o que basta!
        
        Ser um testemunho para as nações da terra!
        Jesus nos ama!</p>
  </div>
  <div class="text-center">
    <div class="w3-container w3-xlarge w3-padding">
        <i class="fab fa-facebook-square w3-hover-opacity"></i>
        <i class="fab fa-instagram w3-hover-opacity"></i>
        <i class="fab fa-google-plus-g w3-hover-opacity"></i>
        <i class="fab fa-youtube w3-hover-opacity"></i>
        <!-- <i class="fab fa-twitter w3-hover-opacity"></i> -->
        </div>
    </div>
</div>
<hr>
</div>
<br/>