<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
  <div class="w3" >
      <div class="w3-bar w3-teal w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fas fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">IGREJA <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['sobre']">Sobre</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['lider']">Líder</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['localizacao']">Localização</a>
          </div>
        </div>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">MINISTÉRIOS<i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['kids']">Missão Kids</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['adolescente']">Missão Adolescentes</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['jovens']">Missão Jovens</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['homens']">Missão Homens</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['mulheres']">Missão Mulheres</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['familia']">Missão Família</a>
          </div>
        </div>
  
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">CULTOS<i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['kids']">Círculo de Oração</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['adolescente']">Quarta Profética</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['jovens']">Culto de Oração e Ensino</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['homens']">Culto da Família com Escola Dominical</a>
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['mulheres']">Culto de Celebração</a>
          </div>
        </div>
  
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-padding-large w3-button" title="More">CÉLULAS<i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#" class="w3-bar-item w3-button" [routerLink]="['kids']">Dias de Células</a>
          </div>
        </div>
       
      </div>
    </div>
    
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="#band" class="w3-bar-item w3-button w3-padding-large">IGREJA</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large">MINISTÉRIOS</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CULTOS</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">CÉLULAS</a>
    </div>

    <!--Sobre-->
  <h1 class="display-4">Sobre</h1>
  <div class="jumbotron jumbotron-fluid d-flex align-items-end">
      <div class="container ">
        <h1 class="display-2">Assembleía de Deus - Templo Primeiro de Dezembro II</h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <h2>A Assembleia de Deus é uma igreja que completa 107 anos no Brasil. Liderada pelo querido pastor Samuel Câmara a mais de 20 anos, nossa igreja tem alcançado grandes alvos, e todo o dia ouvimos algum testemunho de pessoas que são tocadas por essa obra.</h2>
         <h2>Na atualidade, a Assembleia de Deus tem mais de 500 templos espalhados por toda a cidade de Belém e regiao metropolitana. E um desses é o nosso templo: Templo primeiro de Dezembro II,  Localizado na avenida João Paulo II, 350. </h2>
         <h2>Nossa congregação, nesse ano de 2018, esta fazendo aniverário de 18 anos de existencia. </h2> 
         <h2>É um marco na nossa história, pois esta porta foi o Senhor quem abriu.</h2>  
         <h2> Pastoreada pelo querido pastor José Neto, esta caminha rumo a grandes conquistas, no nome de Jesus. </h2>
         <h2> Desempenhando atividades com todas as idades, desde a menor criança até o adulto, procuramos fazer tudo com muito zelo e excelencia. Pois, o nome que carremos não é o nosso, mas o do Senhor Jesus. </h2>
         
      </div>
    </div>
</div>
<br/>