<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="assets/img/sailboat.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">LEARN W3.CSS</button>
    </div>
  </div>
  
  <!-- Team Container -->
  <div class="w3-container w3-padding-64 w3-center" id="team">
  <h2>OUR TEAM</h2>
  <p>Meet the team - our office rats:</p>
  
  <div class="w3-row"><br>
  
  <div class="w3-quarter">
    <img src="assets/img/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Johnny Walker</h3>
    <p>Web Designer</p>
  </div>
  
  <div class="w3-quarter">
    <img src="assets/img/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Rebecca Flex</h3>
    <p>Support</p>
  </div>
  
  <div class="w3-quarter">
    <img src="assets/img/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Jan Ringo</h3>
    <p>Boss man</p>
  </div>
  
  <div class="w3-quarter">
    <img src="assets/img/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Kai Ringo</h3>
    <p>Fixer</p>
  </div>
  
  </div>
  </div>
  