<div class="container">
  <h1 class="display-4">Sobre</h1>
  <div class="jumbotron jumbotron-fluid d-flex align-items-end">
      <div class="container ">
        <h1 class="display-2">Who are peer leaders?</h1>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <h2>Peer leaders are VCU students who have been selected and trained in a leadership role to deliver educational services and promote active citizenship among their peers.</h2>
      </div>
    </div>
</div>
<br/>