<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
<!-- Kids -->
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="assets/img/multiplicar.jpeg" alt="Hamburger Catering" width="1600" height="800">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/fotos2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Homens</h1><br>
      <h5 class="w3-center">“procura apresentar-te a Deus aprovado, como OBREIRO que não tem do que se envergonhar, que maneja bem a palavra da verdade;” 2 timoteo 2.15  </h5>
      <p class="w3-large">Nossos homens são parte fundamental da obra. Nós os denominamos de Obreiros, porque nós incentivamos a cada homem a descobrir seu talento e como desempenha-lo com excelencia e qualidade.  <span class="w3-tag w3-light-grey"></span></p>
      <p class="w3-large w3-text-grey w3-hide-medium">Homens valorosos! Guerreiros! Ativos na obra do mestre Jesus. É isso que desempenhamos e valorizamos. Venha homem e junte-se a esse exercito. </p>

    </div>
  </div>