
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">

  <img class="w3-round" src="assets/img/mulher.png" style="width:100%;margin:32px 0">
  
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/fotos3.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Mulheres</h1><br>
      <h5 class="w3-center">Circulo de oração – ás terças, as 19h.</h5>
      <p class="w3-large w3-justify">Nosso ministerio assembleia de Deus em Belem – igreja mae as mulheres são de fundamental papel. Desde o circulo de oração, que sustenta todo o nosso ministério, até o coral de mulheres e o apoio de intercessão. Esses são momentos que valem muito no reino de Deus.<span class="w3-tag w3-light-grey"></span></p>
      <p class="w3-large w3-text-grey w3-hide-medium w3-justify">Na nossa igreja a mulher descobre seu valor e é capacitada e ensinada a servir a Deus com excelencia. Eles oram, pregam, cantam e Deus é glorificado na vida de nossas mulheres. Junte-se mulher a esse exercito de guerreiras do Senhor. </p>

    </div>
  </div>