
 <div class="w3-content" style="max-width:1100px;">
 <div class="w3-bar w3-border w3-large w3-teal w3-right">
  <!-- <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home"></i></a> -->
  <a href="https://www.facebook.com/pages/Ad-Primeira-De-Dezembro-2/1903806566573077" class="w3-bar-item w3-button"  target="_blank"><i class="fab fa-facebook-square"></i></a>
  <a href="https://www.instagram.com/ad.dezembro/?hl=pt-br" class="w3-bar-item w3-button" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fab fa-google"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fas fa-user"></i></a>
</div>


<div class="header">
<div class="header-inner container">
<!--branding/logo -->
<div class="header-brand">
<a class="header-brand-text" href="index.html" title="Home">
  <div class="w3-container">
    <img src="assets/img/asssembleia-de-deus.jpg" alt="Lights" class="w3-image" width="200" height="300">
   
  </div>
</a>
<div class="header-divider d-none d-lg-block"></div>
<div class="header-slogan d-none d-lg-block">Templo: Primeiro de Dezembro 2</div>
</div>
</div>

</div>

<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
<div class="w3" >
    <div class="w3-bar w3-teal w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fas fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">IGREJA <i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['sobre']">Sobre</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['lider']">Líder</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['localizacao']">Localização</a>
        </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">MINISTÉRIOS<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['kids']">Missão Kids</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['adolescente']">Missão Adolescentes</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['jovens']">Missão Jovens</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['homens']">Missão Homens</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['mulheres']">Missão Mulheres</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['familia']">Missão Família</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">CULTOS<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['oracao']">Círculo de Oração</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['profetica']">Quarta Profética</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['ensino']">Culto de Oração e Ensino</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['escola']">Culto da Família com Escola Dominical</a>
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['celebracao']">Culto de Celebração</a>
        </div>
      </div>

      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">CÉLULAS<i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button" [routerLink]="['dias_celulas']">Dias de Células</a>
        </div>
      </div>
     
    </div>
  </div>
  
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large">IGREJA</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large">MINISTÉRIOS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CULTOS</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">CÉLULAS</a>
  </div>