
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">

    <img class="w3-round" src="assets/img/kids.jpg" style="width:100%;margin:32px 0">
    
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/kids02.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Crianças</h1><br>
      <h5 class="w3-center w3-justify">“Deixai vir a mim os pequeninos, pois deles é o reino dos céus” Mateus 19.14</h5>
      <p class="w3-large w3-justify">Nossa igreja pensa e investe muito na vida das crianças, e cre que Deus tambem se manifesta na vida delas. Pensando assim que nosso ministério infantil funciona com ações na Escola Dominical e na sala de apoio infantil na hora dos cultos. 
          <span class="w3-tag w3-light-grey"></span></p>
      <p class="w3-large w3-text-grey w3-hide-medium w3-justify">Nossas crianças cantam louvores, aprendem a palavra e estão sendo preparadas para dar continuidade a missão de nosso Senhor Jesus.</p>
    </div>
  </div>
  
 </div>