<div class="w3-card w3-margin w3-margin-top">
    <a href="https://www.youtube.com/watch?time_continue=9&v=c72fnBnRvkg" target="_blank">
        <img src="assets/img/msg6.jpg" style="width:100%">
    </a>
    <div class="w3-container w3-white w3-center">
        <br>
        <h4>
            <b style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Mensagens Bíblicas</b>
        </h4>
        <p style="font-style: italic;">"Não se desanime!!! Quando grande é a luta, maior ainda será a vitória. Não se esqueça: Deus é maior que tudo… Ele
            bem maior que os seus problemas. Por essa razão, confie nele. Com Deus, não há mal que nos possa vencer".
            <b>CREIA!!!...</b>
        </p>
    </div>
</div>
<hr>