<!--Inicio do tipography -->
<!--Uso do Scroolpy -->
<div class="container">

  <div class="row">

    <div class="col-12 text-center my-5">

      <h1 class="display-3">Mensangens Bíblicas</h1>
      <p></p>

    </div>

  </div>

  <div class="row mb-5">

    <div class="col-sm-6 col-md-4 mb-3">

      <nav id="navbarVertical" class="navbar navbar-light bg-light">

        <nav class="nav nav-pills flex-column">

          <a class="nav-link" href="#item1">Mensagem do dia</a>

         <a class="nav-link my-2" href="#item2">Estudos Bíblicos</a>

        </nav>

      </nav>

    </div>

    <div class="col-sm-6 col-md-8">

      <div data-spy="scroll" data-target="#navbarVertical" data-offset="0" class="scrollspySite">

        <h4 id="item1"> (2 Coríntios 1:5)</h4>
        <p>Pois assim como os sofrimentos de Cristo transbordam sobre nós, também por meio de Cristo transborda a nossa consolação.</p>

        <h5 id="item1-1">(Provérbios 16:3)</h5>
        <p>Consagre ao Senhor tudo o que você faz, e os seus planos serão bem-sucedidos. </p>

        <h5 id="item1-2">(1 Timóteo 4:12)</h5>
        <p>Ninguém o despreze pelo fato de você ser jovem, mas seja um exemplo para os fiéis na palavra,
           no procedimento, no amor, na fé e na pureza.</p>

        <h4 id="item2">(1 João 3:16)</h4>
        <p>Nisto conhecemos o que é o amor: Jesus Cristo deu a sua vida por nós, e devemos dar a nossa vida por nossos irmãos. </p>

        <h4 id="item3"> (Filipenses 4:9)</h4>
        <p>Ponham em prática tudo o que vocês aprenderam, receberam, ouviram e viram em mim. 
          E o Deus da paz estará com vocês. </p>

        <h5 id="item3-1">(Efésios 4:29)</h5>
        <p>Nenhuma palavra torpe saia da boca de vocês, mas apenas a que for útil para edificar os outros, 
          conforme a necessidade, para que conceda graça aos que a ouvem.</p>

        <h5 id="item3-2">(Provérbios 3:7-8)</h5>
        <p> Não seja sábio aos seus próprios olhos; tema o Senhor e evite o mal.
           Isso dará a você saúde ao corpo e vigor aos ossos.</p>

      </div>

    </div>

  </div>
  <!--Fim do tipography -->
