<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
<!-- Kids -->
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="assets/img/adolescente.jpg" alt="Hamburger Catering" width="1600" height="800">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/jovens.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Adolescentes</h1><br>
      <h5 class="w3-center">Encontro ás quintas, as 19h </h5>
      <p class="w3-large">Foi na Adolescencia que o profeta Samuel, servindo no templo, ouviu Deus falar consigo. Foi na adolescencia que o profeta Jeremias ouviu de Deus suas primeiras mensagens. Na vida dos nossos adolescentes o nosso adversário satanás não tem vez! <span class="w3-tag w3-light-grey"></span></p>
      <p class="w3-large w3-text-grey w3-hide-medium">Na atualidade, nossos adolescentes estão sendo bombardeados por tantas influencias negativas, tantas ideologias que vão contra a palavra de Deus. O Objetivo da missão com Adolescentes de nossa igreja é de ensinar nossos adolescentes a combater essas afrontas na sua vida e na vida daqueles que eles convivem.</p>
    </div>
  </div>
  
 