           
  <div class="container">
      <div class="well well-sm">
        <h1><strong>Fale Conosco</strong></h1>
      </div>
    
    <div class="row">
      <div class="col-md-7">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.54921106334!2d-48.4625664852458!3d-1.4451804989460209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48c3fc695626b%3A0x2ef128020f04ee2e!2sAssembl%C3%A9ia+de+Deus+Templo+Primeiro+De+Dezembro+II!5e0!3m2!1spt-BR!2sbr!4v1518572457472" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
        <div class="col-md-5">
            <h2><strong>Entrar em contato</strong></h2>
          <form>
            <div class="form-group">
                <i class="fa fa-user prefix grey-text"></i>
              <input type="text" class="form-control" name="" value="" placeholder="Nome">
            </div>
            <div class="form-group">
                <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" class="form-control" name="" value="" placeholder="E-mail">
            </div>
            <div class="form-group">
                <i class="fa fa-tag prefix grey-text"></i>
              <input type="text" class="form-control" name="" value="" placeholder="Assunto">
            </div>
            <div class="form-group">
                <i class="fas fa-comment-alt"></i>
              <textarea class="form-control" name="" rows="3" placeholder="Mensagem"></textarea>
            </div>
            <div class="text-center">
            <button class="btn btn-default btn-primary" type="submit" name="button">Enviar<i class="fas fa-paper-plane ml-1"></i>
            </button>
          </div>
          </form>
        </div>
      </div>
  </div>
  <div class="c1">&nbsp;</div> 
 