<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
<!-- Kids -->
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="assets/img/reacao.jpeg" alt="Hamburger Catering" width="1600" height="800">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/jovens04.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Jovens</h1><br>
      <h5 class="w3-center">Não é uma missão facil ser um jovem nos dias atuais. Tomar atitude como o profeta Daniel, que na babilonia não se contaminou com os manjares do mundo é muito dificil. Por isso nossos encontros jovens são chamados Reação Jovem . </h5>
      <p class="w3-large">Nossa tarefa é reagir! Todas as sextas, as 21h30m, apos o culto de ensino, nos reunimos para sorrir, aprender, crescer, nos capacitar para as obras que o Senhor tem preparado para nós. Venha ! depois da escola, depois do trabalho, faculdade. Nós te aguardamos para buscarmos ao Senhor. <span class="w3-tag w3-light-grey"></span></p>
    </div>
  </div>
  
 