<div class="w3-content" style="max-width:1100px;">

  <!-- Header -->
  <!-- <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>JANE BLOGLIFE</b></h1>
    <h6>Welcome to the blog of <span class="w3-tag">Jane's world</span></h6>
  </header> -->

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="assets/img/banner3.jpg" alt="Fashion Blog" width="1100">
    <!-- <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Jane's</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
    </div> -->
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <!-- <div class="w3-center">
          <h3>Cultos</h3>
          <h5>Title description, <span class="w3-opacity">May 2, 2016</span></h5>
        </div> -->

        <div class="w3-justify">
          <img src="assets/img/programacao.jpg" alt="Girl Hat" style="width:100%;" class="w3-padding-16">
          <!-- <p><strong>More Hats!</strong> I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p> -->
          <!-- <p class="w3-left"><button class="w3-button w3-teal w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Curtir</b></button></p>
          <p class="w3-right"><button class="w3-button w3-teal" onclick="myFunction('demo1')" id="myBtn"><b>Comentários</b> <span class="w3-tag w3-white">1</span></button></p> -->
          <!-- <p class="w3-clear"></p> -->
          <!-- <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
            <hr>
              <div class="w3-col l2 m3">
                <img src="assets/img/avatar_smoke.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>George <span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span></h4>
                <p>Great blog post! Following</p>
              </div>
          </div> -->
        </div>
      </div>
      <hr>

      <!-- Blog entry -->

      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Testemunhos</h3>
          <!-- <h5>Title description, <span class="w3-opacity">April 23, 2016</span></h5> -->
        </div>

        <div class="w3-justify">
          <!-- <img src="assets/img/man_hat.jpg" alt="Men in Hats" style="width:100%" class="w3-padding-16">
          <p><strong>Hats!</strong> The trend this summer is hats for men!</p>
          <p>Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
            mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p> -->
          <!-- <p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
          <p class="w3-right"><button class="w3-button w3-black" onclick="myFunction('demo2')"><b>Replies  </b> <span class="w3-tag w3-white">2</span></button></p>
          <p class="w3-clear"></p> -->

          <!-- Example of comment field -->
          <!-- <div id="demo2" style="display:none">
            <div class="w3-row">
              <hr>
              <div class="w3-col l2 m3">
                <img src="assets/img/girl_train.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>Amber <span class="w3-opacity w3-medium">April 26, 2015, 10:52 PM</span></h4>
                <p>Love your blog page! Simply the best! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
              </div>
            </div>
            <div class="w3-row w3-margin-bottom">
              <div class="w3-col l2 m3">
                <img src="assets/img/girl.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>Angie <span class="w3-opacity w3-medium">April 23, 2015, 9:12 PM</span></h4>
                <p>Love hats!!</p>
              </div>
            </div>
          </div> -->
          <div class="row justify-content-sm-center"> 
          <figure class="snip1139">
            <blockquote>Assembleia de Deus é um exemplo para todas as igrejas pentecostais do Brasil e do Mundo. O padrão ético religioso é de suma importância para a preservação do evangelho do Senhor Jesus.
              <div class="arrow"></div>
            </blockquote>
            <img src="assets/img/avatar-man.jpg" alt="sample3"/>
            <div class="author">
              <h5>Lindoval Almeida <span>- Auxiliar Administrativo</span></h5>
            </div>
          </figure>

          <figure class="snip1139 hover">
          <blockquote>Sim vou falar Assembleia de deus lugar onde vamos louvar a deus é onde vamos orar cantar e servir a de todo coraçâo sou muinto feliz quando estou na casa do senhor a sembleia de deus lugar de adoraçâo onde vamos adorar a deus de todo coraçào Ámem
            <div class="arrow"></div>
          </blockquote>
          <img src="assets/img/avatar-mulher.png" alt="sample47"/>
          <div class="author">
            <h5>Fatima Bandeira<span>- Professora</span></h5>
          </div>
          </figure>
        </div>
      </div>

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <!-- <div class="w3-center">
          <h3>Convenção</h3>
          <h5>Assembleia de Deus, <span class="w3-opacity">no Brasil</span></h5>
        </div> -->

        <div class="w3-justify">
          <a href="http://portalcadb.com/cadb/"><img src="assets/img/capa-cad.jpg" alt="Runway" style="width:100%" class="w3-padding-16"></a>
          <p><strong>Propósitos!</strong> da Convenção da Assembleia de Deus no Brasil (CADB)!</p>
          <p>REVIVER e continuar a história da Assembleia de Deus, iniciada em Belém do Pará, tendo a Bíblia como regra de fé e prática e os princípios éticos, morais e espirituais do Evangelho Pentecostal.</p>
          <p>EVANGELIZAR:Ser um fórum fraterno e voluntário de reflexão, estratégias e cooperação, priorizando a evangelização e missões no Brasil e até os confins da Terra, respeitando o papel e missão da Igreja.</p>
          <p>CRESCIMENTO: Registrar convenções estaduais e ministérios de igrejas Assembleia de Deus que solicitarem registro.</p>
          <p>RESPONSABILIDADE SOCIAL: Promover a responsabilidade social da igreja, especialmente nas áreas da educação, cultura e comunicação</p>
          <p>RECONHECER E PROMOVER A CHAMADA: Congregar, congraçar e promover o ministério cristão de pastor(a), evangelista, missionário(a), sem distinção da vocação e chamada divina de homens e de mulheres;</p>
          <!-- <p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>
          <p class="w3-right"><button class="w3-button w3-black" onclick="myFunction('demo3')"><b>Replies  </b> <span class="w3-tag w3-white">3</span></button></p>
          <p class="w3-clear"></p> -->

          <!-- Example of comment field -->
          <!-- <div id="demo3" style="display:none">
            <hr>
            <div class="w3-row w3-margin-bottom">
              <div class="w3-col l2 m3">
                <img src="assets/img/girl_mountain.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>Jane <span class="w3-opacity w3-medium">April 10, 2015, 7:22 PM</span></h4>
                <p>That was a great runway show! Thanks for everything.</p>
              </div>
            </div>
            <div class="w3-row w3-margin-bottom">
              <div class="w3-col l2 m3">
                <img src="assets/img/boy.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>John <span class="w3-opacity w3-medium">April 8, 2015, 10:32 PM</span></h4>
                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
            <div class="w3-row w3-margin-bottom">
              <div class="w3-col l2 m3">
                <img src="assets/img/girl_hood.jpg" style="width:90px;">
              </div>
              <div class="w3-col l10 m9">
                <h4>Anja <span class="w3-opacity w3-medium">April 7, 2015, 9:12 PM</span></h4>
                <p>Cant wait for the runway to start!</p>
              </div>
            </div>
          </div> -->

          <a href="http://www.adbelem.org.br/">
            <img src="assets/img/capa-tema.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
          </a>
          <p>
            <strong>Missão!</strong> Cheios do Espírito Santo, nossa missão é:
            ADORAR a Deus,
            MANTER COMUNHÃO com os irmãos,
            EVANGELIZAR os povos,
            DISCIPULAR os salvos,
            VIGIAR e ORAR até Jesus voltar.!</p>
          <p>A Assembleia de Deus foi fundada em 18 de junho de 1911, em Belém (PA), pelos missionários suecos Daniel Berg e Gunnar Vingren. É a primeira igreja pentecostal do país, ou seja, que acredita nas manifestações atuais do Espírito Santo tal qual acontecia nos dias dos apóstolos. A obra iniciada em Belém se espalhou para todos os estados do Brasil e diversos países do mundo. Após 104 anos de atividades, a Assembleia de Deus é hoje a maior igreja evangélica do Brasil, com cerca de 20 milhões de membros.</p>

          <a href="http://www.ebd.adbelem.org.br/v2/">
            <img src="assets/img/msg4.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
          </a>
          <p>
            <strong>Sobre!</strong> 
            Programa de Educação Cristã Continuada!</p>
          <p>Com o Programa de Educação Cristã Continuada, você oficializa o seu estudo na Escola Dominical como Curso-Bíblico-Teológico Básico, conferindo-lhe certificado e a continuidade de seus estudos em Nível Médio, Bacharel e Pós-graduação..</p>



          <div class="w3-center w3-padding w3-margin-top">
            <h3>Líder</h3>
            <!-- <h5>Title description, <span class="w3-opacity">April 23, 2016</span></h5> -->
          </div>

          <div class="w3-justify">

            <div class="row justify-content-sm-center">
                       
                  <div class="w3-justify">
                   
                    <div class="row justify-content-sm-center"> 
                      <figure class="snip0057">
                        <figcaption>
                          <h2>José <span>Neto</span></h2>
                          <p>"José Neto é o líder da Igreja Assembleia de Deus - Templo Primeiro de Dezembro II, casado com Laryssa Siqueira."</p>
                          <div class="text-center">
                              <div class="w3-container w3-large w3-padding">
                                  <i class="fab fa-facebook-square w3-hover-opacity"></i>
                                  <i class="fab fa-instagram w3-hover-opacity"></i>
                                  <i class="fab fa-google-plus-g w3-hover-opacity"></i>
                                  <i class="fab fa-youtube w3-hover-opacity"></i>
                                  <!-- <i class="fab fa-twitter w3-hover-opacity"></i> -->
                                  </div>
                              </div>
                          <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
                        </figcaption>
                        <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
                        <div class="position">Pastor</div>
                      </figure>
                </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
             <!-- About Card -->
        <div class="w3-card w3-margin w3-margin-top">
        <a href="https://www.youtube.com/watch?time_continue=9&v=c72fnBnRvkg"><img src="assets/img/msg6.jpg" style="width:100%"></a>
          <div class="w3-container w3-white w3-center">
            <br>
            <h4><b>Mensagens Bíblicas</b></h4>
            <p>"Não se desanime!!! Quando grande é a luta, maior ainda será a vitória.

                Não se esqueça: Deus é maior que tudo…
                
                Ele bem maior que os seus problemas. Por essa razão, confie nele.
                
                Com Deus, não há mal que nos possa vencer".
                
                CREIA!!!.</p>
          </div>
        </div><hr>

      <div class="w3-card w3-margin w3-margin-top">

        <img src="assets/img/msg13.jpg" style="width:100%">


        <div class="w3-container w3-white w3-center ">
          <br>
          <h4>
            <b>Estudos Biblicos</b>
          </h4>
          <!-- <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p> -->
          <p>
            <button class="w3-button w3-teal w3-round-xlarge">Download</button>
          </p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal w3-margin-bottom ">
          <h4>Culto em aúdio</h4>
        </div>
        <!-- <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="assets/img/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Denim</span>
            <br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/bandmember.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Sweaters</span>
            <br>
            <span>Praes tinci sed</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Workshop</span>
            <br>
            <span>Ultricies congue</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
            <span class="w3-large">Trends</span>
            <br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul> -->
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400653393&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>

      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal w3-margin-bottom ">
          <h4>Culto ao vivo</h4>
        </div>
        <!-- <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="assets/img/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Denim</span>
            <br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/bandmember.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Sweaters</span>
            <br>
            <span>Praes tinci sed</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Workshop</span>
            <br>
            <span>Ultricies congue</span>
          </li>
          <li class="w3-padding-16">
            <img src="assets/img/avatar_smoke.jpg" alt="Image" class="w3-left w3-margin-right w3-sepia" style="width:50px">
            <span class="w3-large">Trends</span>
            <br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul> -->
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/-pkOt6znzec" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>

      </div>
      <hr>

      <!-- Advertising -->
      <!-- <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Culto Ao Vivo</h4>
        </div>
        <div class="w3-container w3-white">
          <div class="w3-container w3-display-container w3-light-grey w3-section" style="height:200px">
            <span class="w3-display-middle">Your AD Here</span>
          </div>
          
        </div>
        
      </div>
      <hr> -->

      <!-- Tags -->
      <!-- <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Fashion</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hats</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Norway</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sweaters</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deals</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Accessories</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jeans</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Trends</span>
          </p>
        </div>
      </div>
      <hr> -->

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal">
          <h4>Fotos</h4>
        </div>
        <div class="w3-row-padding w3-white w3-padding">
          <div class="w3-col s6">
            <p>
              <img src="assets/img/igreja1.png" alt="Jeans" style="width:100%">
            </p>
            <p>
              <img src="assets/img/igreja3.png" alt="Jeans" style="width:100%">
            </p>
          </div>
          <div class="w3-col s6">
            <p>
              <img src="assets/img/igreja4.png" alt="Men in Hats" style="width:100%" class="w3-grayscale">
            </p>
            <p>
              <img src="assets/img/igreja6.png" alt="Jeans" style="width:100%">
            </p>
          </div>
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal">
          <h4>Agenda da Semana</h4>
          <!--Agenda responsiva-->
        </div>
        <!-- <div class="w3-container w3-xlarge w3-padding">
          <i class="fab fa-facebook-square w3-hover-opacity"></i>
          <i class="fab fa-instagram w3-hover-opacity"></i>
          <i class="fab fa-google-plus-g w3-hover-opacity"></i>
          <i class="fab fa-youtube w3-hover-opacity"></i>
          <i class="fab fa-twitter w3-hover-opacity"></i>
         
        </div> -->
        <div class="w3-container w3-padding">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;hl=pt_BR&amp;bgcolor=%23FFFFFF&amp;src=pt.brazilian%23holiday%40group.v.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FBelem"
            style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      <hr>

      <!-- Subscribe -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal">
          <h4>Pedidos de Oração</h4>
        </div>
        <div class="w3-container w3-white">
          <!-- <p>Enter your e-mail below and get notified on the latest blog posts.</p> -->
          <div class="w3-large w3-margin-bottom w3-padding">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Belém, Pará
            <br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Telefone: +00 151515
            <br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> E-mail: mail@mail.com
            <br>
          </div>
          <form (ngSubmit)="onSubmit(contatoForm)" #contatoForm="ngForm" novalidate autocomplete="off">
            <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
              <p>
                <input class="w3-input w3-border" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" type="text" placeholder="Seu nome" style="width:100%"
                name="nome" #nome="ngModel" [(ngModel)]="pedidoHoracao.nome" required>
              </p>
              <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine" style="color: red">O campo nome é obrigatório</div>
            </div>

            <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
                <p>
                  <input class="w3-input w3-border" type="email" placeholder="Seu e-mail" style="width:100%"
                     [ngClass]="getFormControlClass(email.valid, email.pristine)" name="email" #email="ngModel" 
                     [(ngModel)]="pedidoHoracao.email" required email>
                </p>
                <div class="form-control-feedback" [hidden]="email.valid || email.pristine" style="color: red">O campo email é obrigatório</div>
                <div class="form-control-feedback" [hidden]="email.valid || email.pristine" style="color: red">Insira um email válido</div>
            </div>
            <div [ngClass]="getFormGroupClass(menssagem.valid, menssagem.pristine)">
              <p>
                <textarea class="w3-input w3-border" type="message" placeholder="Sua mensagem" style="width:100%"
                 [ngClass]="getFormControlClass(menssagem.valid, menssagem.pristine)" name="menssagem" #menssagem="ngModel" [(ngModel)]="pedidoHoracao.menssagem"
                required></textarea>
              </p>
              <div class="form-control-feedback" [hidden]="menssagem.valid || menssagem.pristine" style="color: red">O campo menssagem é obrigatório</div>
            </div>
            

            <div class="w3-container w3-white w3-center">
              <p>
                <button type="submit" [disabled]="!contatoForm.form.valid" class="w3-button w3-teal w3-round-xlarge ">Enviar</button>
              </p>
            </div>
            {{contatoForm}}
          </form>
          
          <!-- <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="w3-button w3-block w3-red">Enviar</button></p> -->
         
        </div>
        <div id="googleMap" class="w3-round-large" style="width:100%;height:400px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.54921106334!2d-48.4625664852458!3d-1.4451804989460209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48c3fc695626b%3A0x2ef128020f04ee2e!2sAssembl%C3%A9ia+de+Deus+Templo+Primeiro+De+Dezembro+II!5e0!3m2!1spt-BR!2sbr!4v1518572457472"
            width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>



      </div>

      <!-- END About/Intro Menu -->
    </div>

    <!-- END GRID -->
  </div>

  <!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
      <p>
        <input class="w3-input w3-border" type="text" placeholder="Enter e-mail">
      </p>
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>

<!-- Footer 
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>-->