<!--Uso do jumbotron -->

<div class="jumbotron jumbotron-fluid">

    <div class="container">

        <div class="row">

            <div class="col-12 text-center">

                <h1 class="display-4">Cultos</h1>
                <!--<p class="lead">In blandit mi felis, non elementum diam fermentum id. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.</p>-->
                <hr>

            </div>

        </div>

        <div class="row">

            <div class="col-12">

                <ul class="nav nav-pills justify-content-center mb-4" id="pills-nav" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="nav-pills-01" data-toggle="pill" href="#nav-item-01">Horário dos cultos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="nav-pills-02" data-toggle="pill" href="#nav-item-02">Culto em áudio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="nav-pills-03" data-toggle="pill" href="#nav-item-03">Culto ao vivo</a>
                    </li>

                </ul>

                <div class="tab-content" id="nav-pills-content">

                    <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IrjDAdUCy7w"></iframe>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <p>Morbi laoreet consequat nisl, in dapibus tellus dapibus sit amet. Pellentesque maximus ut
                                    lectus eu consectetur. Sed accumsan in libero non euismod. Vivamus commodo, mi et laoreet
                                    gravida, quam lectus cursus ante, a rhoncus quam ligula vel nunc. Duis dapibus velit
                                    vel risus tristique rhoncus.</p>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="nav-item-02" role="tabpanel">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r7ZgyFSsd-c"></iframe>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <p>Phasellus sed mauris volutpat, fringilla tellus porttitor, volutpat turpis. Pellentesque
                                    varius molestie libero vitae consectetur. Pellentesque eget eleifend elit, sed vulputate
                                    felis. Pellentesque eleifend eget nunc sit amet mattis. Quisque ornare, tortor ut euismod
                                    accumsan, tortor dui venenatis dolor, volutpat rhoncus lorem lorem non turpis.</p>

                            </div>


                        </div>


                    </div>

                    <div class="tab-pane fade" id="nav-item-03" role="tabpanel">


                        <div class="row">

                            <div class="col-sm-6">

                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nM1wS6x8DZM"></iframe>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <p>Curabitur porta erat semper lorem rutrum ornare. Sed lobortis dictum dui in condimentum.
                                    Donec nec purus malesuada diam elementum euismod in eu dolor. Maecenas ac ex ac massa
                                    feugiat suscipit. Maecenas egestas consequat neque, non commodo lectus rhoncus cursus.
                                    Suspendisse suscipit dignissim lorem. Sed porttitor leo et magna tempus, vel tempus urna
                                    consequat. Proin sed tellus ut sem blandit lacinia eu non arcu.</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<!--Fim do jumbotron -->