/* h1 {
  /* font-family: 'Tangerine', cursive;
  font-size: 4.75rem;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  color: #000000;
  
}

  /*testemunhos*/

  figure.snip1139 {
  
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }  

  figure.snip1139 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }

  figure.snip1139 img {
    max-width: 100%;
    vertical-align: middle;
  }
  figure.snip1139 blockquote {
    position: relative;
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
  }
  figure.snip1139 blockquote:before,
  figure.snip1139 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  figure.snip1139 blockquote:before {
    top: 25px;
    left: 20px;
  }
  figure.snip1139 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
  }
  figure.snip1139 .arrow {
    top: 100%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ffffff;
    margin: 0;
    position: absolute;
  }
  figure.snip1139 .author {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    text-transform: uppercase;
  }
  figure.snip1139 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
  }
  figure.snip1139 .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
  }
 
  /*pastores*/
  h1 {
    font-family: 'Tangerine', cursive;
    font-size: 4.75rem;
    background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    
  }
  
  figure.snip0057 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 280px;
    max-width: 380px;
    width: 100%;
    background: #ffffff;
    color: #000000;
  }
  figure.snip0057 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  figure.snip0057 .image {
    width: 50%;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
  }
  figure.snip0057 .image img {
    position: relative;
    display: block;
    left: -15%;
    z-index: 1;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
  }
  figure.snip0057:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 45%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
  }
  figure.snip0057 figcaption {
    padding: 20px 30px 20px 20px;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 50%;
  }
  figure.snip0057 figcaption h2,
  figure.snip0057 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
  }
  figure.snip0057 figcaption h2 {
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  figure.snip0057 figcaption h2 span {
    font-weight: 800;
  }
  figure.snip0057 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
  }
  figure.snip0057 figcaption .icons {
    width: 100%;
    text-align: right;
  }
  figure.snip0057 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
    opacity: 0;
  }
  figure.snip0057 figcaption a {
    opacity: 0.3;
  }
  figure.snip0057 figcaption a:hover {
    opacity: 0.8;
  }
  figure.snip0057 .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 15px 30px;
    font-size: 0.9em;
    opacity: 1;
    font-style: italic;
    color: #ffffff;
    background: #000000;
  }
  figure.snip0057.blue .position {
    background: #20638f;
  }
  figure.snip0057.red .position {
    background: #962d22;
  }
  figure.snip0057.yellow .position {
    background: #bf6516;
  }
  figure.snip0057:hover figcaption,
  figure.snip0057.hover figcaption {
    bottom: 40px;
  }
  figure.snip0057:hover .icons i,
  figure.snip0057.hover .icons i {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.snip0057:hover:before,
  figure.snip0057.hover:before {
    -webkit-animation: shadow 0.6s ease-in-out;
    animation: shadow 0.6s ease-in-out;
  }
  @-webkit-keyframes shadow {
    0% {
      left: 0px;
    }
    50% {
      left: -5px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes shadow {
    0% {
      left: 0px;
    }
    50% {
      left: -5px;
    }
    100% {
      left: 0px;
    }
  }
  
 
   