<div class="w3-content" style="max-width:1100px;">

   
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="assets/img/banner3.jpg" alt="Fashion Blog" width="1100">
    
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
       
        <div class="w3-justify">
          <img src="assets/img/programacao.jpg" alt="programação" style="width:100%;" onclick="onClick(this)" class="w3-hover-opacity">
         
        </div>
      </div>
      <hr>

      <!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-times"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>

      <!-- Blog entry -->

      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Testemunhos</h3>
          
        </div>

        <div class="w3-justify">
        
          <div class="row justify-content-sm-center">
            <figure class="snip1139">
              <blockquote>Assembleia de Deus é um exemplo para todas as igrejas pentecostais do Brasil e do Mundo. O padrão ético religioso é de suma
              importância para a preservação do evangelho do Senhor Jesus.
              <div class="arrow"></div>
                <div class="arrow"></div>
              </blockquote>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample3" />
              <div class="author">
                <h5>Lindoval Almeida
                  <span>- Auxiliar Administrativo</span>
                </h5>
              </div>
            </figure>

            <figure class="snip1139 hover">
              <blockquote>Sim vou falar Assembleia de deus lugar onde vamos louvar a deus é onde vamos orar cantar e servir a de todo coraçâo sou muinto
              feliz quando estou na casa do senhor a sembleia de deus lugar de adoraçâo onde vamos adorar a deus de todo coraçào Ámem
                <div class="arrow"></div>
              </blockquote>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample47" />
              <div class="author">
                <h5>Fatima Bandeira
                  <span>- Professora</span>
                </h5>
              </div>
            </figure>
        </div>
      </div>

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Convenção</h3>
          <h5>Assembleia de Deus,
            <span class="w3-opacity">no Brasil</span>
          </h5>
        </div>

        <div class="w3-justify">
            
          <a href="http://portalcadb.com/cadb/" target="_blank">
            <img src="assets/img/capa-cad.jpg" alt="Runway" style="width:100%" class="w3-hover-opacity">
          </a>
          
          <p>
            <strong>Propósitos!</strong> da Convenção da Assembleia de Deus no Brasil (CADB)!</p>
          <p>REVIVER e continuar a história da Assembleia de Deus, iniciada em Belém do Pará, tendo a Bíblia como regra de fé e prática
            e os princípios éticos, morais e espirituais do Evangelho Pentecostal.</p>
          
          <p>EVANGELIZAR: Ser um fórum fraterno e voluntário de reflexão, estratégias e cooperação, priorizando a evangelização e missões
            no Brasil e até os confins da Terra, respeitando o papel e missão da Igreja.</p>
          
          <p>CRESCIMENTO: Registrar convenções estaduais e ministérios de igrejas Assembleia de Deus que solicitarem registro.</p>
          
          <p>RESPONSABILIDADE SOCIAL: Promover a responsabilidade social da igreja, especialmente nas áreas da educação, cultura e comunicação</p>
          
          <p>RECONHECER E PROMOVER A CHAMADA Congregar, congraçar e promover o ministério cristão de pastor(a), evangelista, missionário(a),
            sem distinção da vocação e chamada divina de homens e de mulheres;</p>
          

          <a href="http://www.adbelem.org.br/" target="_blank">
            <img src="assets/img/capa-tema.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
          </a>
          <p>
            <strong>Missão!</strong> Cheios do Espírito Santo, nossa missão é: + ADORAR a Deus, MANTER COMUNHÃO com os irmãos, EVANGELIZAR
            os povos, DISCIPULAR os salvos, + VIGIAR e ORAR até Jesus voltar.!</p>
          
          <p> A Assembleia de Deus foi fundada em 18 de junho de 1911, em Belém (PA), pelos missionários suecos Daniel Berg e Gunnar Vingren.
            É a primeira igreja pentecostal do país, ou seja, que acredita nas manifestações atuais do Espírito Santo tal qual acontecia
            nos dias dos apóstolos. A obra iniciada em Belém se espalhou para todos os estados do Brasil e diversos países do mundo.
            Após 104 anos de atividades, a Assembleia de Deus é hoje a maior igreja evangélica do Brasil, com cerca de 20 milhões de
            membros.</p>

          <a href="http://www.ebd.adbelem.org.br/v2/" target="_blank">
            <img src="assets/img/msg4.jpg" alt="Runway" style="width:100%" class="w3-padding-16">
          </a>
          <p>
            <strong>Sobre!</strong>
            Programa de Educação Cristã Continuada!</p>
          
          <p>Com o Programa de Educação Cristã Continuada, você oficializa o seu estudo na Escola Dominical como Curso-Bíblico-Teológico
            Básico, conferindo-lhe certificado e a continuidade de seus estudos em Nível Médio, Bacharel e Pós-graduação.</p>


<hr>
                <div class="card">
                    <img src="assets/img/pastor.jpg" alt="John" style="width:100%">
                    <h3>José Neto</h3>
                    <br>
                    <div class="w3-center">
                    <p style="font-style: italic; font-size:20px;">"José Neto é o líder da Igreja Assembleia de Deus - Templo Primeiro de Dezembro II, casado com Laryssa Siqueira."</p>
                    <a href="https://www.facebook.com/jose.neto.14289 " target="_blank" ><i class="fab fa-facebook-square w3-hover-opacity"></i></a>
                    <a href="https://www.instagram.com/j_neto21/?hl=pt-br" target="_blank"><i class="fab fa-instagram w3-hover-opacity"></i></a>
                    </div>
                    <div class="w3-container w3-teal">
                    <p>Pastor</p>
                    </div>
                  </div>
          </div>
        </div>
      </div>

      <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
        <a href="https://www.youtube.com/watch?time_continue=9&v=c72fnBnRvkg" target="_blank">
          <img src="assets/img/msg6.jpg" style="width:100%">
        </a>
        <div class="w3-container w3-white w3-center">
          <br>
          <h4>
            <b style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Mensagens Bíblicas</b>
          </h4>
          <p style="font-style: italic;">"Não se desanime!!! Quando grande é a luta, maior ainda será a vitória. Não se esqueça: Deus é maior que tudo… Ele bem maior
          que os seus problemas. Por essa razão, confie nele. Com Deus, não há mal que nos possa vencer". <b>CREIA!!!...</b></p>
        </div>
      </div>
      <hr>

      <div class="w3-card w3-margin w3-margin-top">

        <img src="assets/img/msg13.jpg" style="width:100%">


        <div class="w3-container w3-white w3-center ">
          <br>
          <h4>
            <b style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Estudos Biblicos</b>
          </h4>
          <p>
            <button class="w3-button w3-teal w3-round-xlarge">Download</button>
          </p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal w3-margin-bottom ">
          <h4 style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Culto em aúdio</h4>
        </div>
        
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400653393&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>

      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal w3-margin-bottom ">
          <h4 style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Culto ao vivo</h4>
        </div>
        
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/-pkOt6znzec" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>

      </div>
      <hr>

      

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        
        <div class="w3-row-padding w3-white w3-padding">
          <div class="w3-col s6">
              
                  <iframe name="bibliaonline" frameborder="0" src="http://www.novageracao.org/biblia" width="300" height="300"></iframe>
          </div>
         
        </div>
      </div>
      <hr>

      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal">
          <h4 style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Agenda da Semana</h4>
          <!--Agenda responsiva-->
        </div>
        <div class="w3-container w3-padding">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;hl=pt_BR&amp;bgcolor=%23FFFFFF&amp;src=pt.brazilian%23holiday%40group.v.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FBelem"
            style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      <hr>

      <!-- Subscribe -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-teal">
          <h4 style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Pedidos de Oração</h4>
        </div>
        <div class="w3-container w3-white">
          <div class="w3-large w3-margin-bottom w3-padding">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Belém, Pará
            <br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Telefone: +00 151515
            <br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> E-mail: mail@mail.com
            <br>
          </div>
          <form (ngSubmit)="onSubmit(contatoForm)" #contatoForm="ngForm" novalidate autocomplete="off">
            <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
              <p>
                <input class="w3-input w3-border" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" type="text" placeholder="Seu nome" style="width:100%"
                name="nome" #nome="ngModel" [(ngModel)]="pedidoHoracao.nome" required>
              </p>
              <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine" style="color: red">O campo nome é obrigatório</div>
            </div>

            <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
                <p>
                  <input class="w3-input w3-border" type="email" placeholder="Seu e-mail" style="width:100%"
                     [ngClass]="getFormControlClass(email.valid, email.pristine)" name="email" #email="ngModel" 
                     [(ngModel)]="pedidoHoracao.email" required email>
                </p>
                <div class="form-control-feedback" [hidden]="email.valid || email.pristine" style="color: red">O campo email é obrigatório</div>
                <div class="form-control-feedback" [hidden]="email.valid || email.pristine" style="color: red">Insira um email válido</div>
            </div>
            <div [ngClass]="getFormGroupClass(menssagem.valid, menssagem.pristine)">
              <p>
                <textarea class="w3-input w3-border" type="message" placeholder="Sua mensagem" style="width:100%"
                 [ngClass]="getFormControlClass(menssagem.valid, menssagem.pristine)" name="menssagem" #menssagem="ngModel" [(ngModel)]="pedidoHoracao.menssagem"
                required></textarea>
              </p>
              <div class="form-control-feedback" [hidden]="menssagem.valid || menssagem.pristine" style="color: red">O campo menssagem é obrigatório</div>
            </div>
            

            <div class="w3-container w3-white w3-center">
              <p>
                <button type="submit" [disabled]="!contatoForm.form.valid" class="w3-button w3-teal w3-round-xlarge ">Enviar</button>
              </p>
            </div>
          </form>
          
        </div>
        <div id="googleMap" class="w3-round-large" style="width:100%;height:400px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.54921106334!2d-48.4625664852458!3d-1.4451804989460209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48c3fc695626b%3A0x2ef128020f04ee2e!2sAssembl%C3%A9ia+de+Deus+Templo+Primeiro+De+Dezembro+II!5e0!3m2!1spt-BR!2sbr!4v1518572457472"
            width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>



      </div>

      <!-- END About/Intro Menu -->
    </div>

    <!-- END GRID -->
  </div>

  <!-- END w3-content -->
</div>

<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
      <p>
        <input class="w3-input w3-border" type="text" placeholder="Enter e-mail">
      </p>
      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>

