<!-- Navbar -->
<div class="w3-content" style="max-width:1100px;margin-bottom:50px">
<!-- Conteudo -->
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="assets/img/familia.jpeg" alt="Hamburger Catering" width="1600" height="800">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="assets/img/fotos7.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Família</h1><br>
      <h5 class="w3-center"> A base de toda igreja é a familia! Sem familias não existe igreja, pois a igreja é nossa familia. Nos dias atuais como nossas familias são alvo das tramas que satanás faz e usa as midias para tentar desfazer aquilo que sempre foi projeto de Deus na terra. </h5>
      <p class="w3-large"> Nos nossos cultos as familias são alvo do nosso clamor e nossa atenção. E no domingo pela manha, as 9h, temos o nosso Culto da Familia com Escola Dominical , que vem com esse objetivo de fortalecer as familias. Venha, traga sua familia e celebrem juntos a Jesus. Mas se a sua familia ainda não está aos pes do Senhor, venha e represente a sua familia que muito em breve ela virá juntamente com voce!  <span class="w3-tag w3-light-grey"></span></p>
    </div>
  </div>
  
 