<div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
        <h3 style="font-family:'Tangerine', cursive;  font-size: 2.75rem; font-weight: bold;
        ">Testemunhos</h3>

    </div>

    <div class="w3-justify">

        <div class="row justify-content-sm-center">
            <figure class="snip1139">
                <blockquote>Assembleia de Deus é um exemplo para todas as igrejas pentecostais do Brasil e do Mundo. O padrão ético religioso
                    é de suma importância para a preservação do evangelho do Senhor Jesus.
                    <div class="arrow"></div>
                    <div class="arrow"></div>
                </blockquote>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample3" />
                <div class="author">
                    <h5 >Lindoval Almeida
                        <span>- Auxiliar Administrativo</span>
                    </h5>
                </div>
            </figure>

            <figure class="snip1139 hover">
                <blockquote>Sim vou falar Assembleia de deus lugar onde vamos louvar a deus é onde vamos orar cantar e servir a de todo
                    coraçâo sou muinto feliz quando estou na casa do senhor a sembleia de deus lugar de adoraçâo onde vamos
                    adorar a deus de todo coraçào Ámem
                    <div class="arrow"></div>
                </blockquote>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample47" />
                <div class="author">
                    <h5>Fatima Bandeira
                        <span>- Professora</span>
                    </h5>
                </div>
            </figure>
        </div>
    </div>

    <hr>