<!--Inicio do card -->

<div class="container">

  <div class="row justify-content-sm-center">

    <div class="col-sm-6 col-md-4">

      <div class="card mb-5">
        
        <img class="card-img-top" src="assets/img/foto.jpg">
        <div class="card-body">
          <h4 class="card-title">John Smith</h4>
          <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
          <p class="card-text">Testemunho - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, 
            aspernatur, voluptatibus, atque, tempore molestiae.</p>
        </div>
        <!--<uL class="list-group list-group-flush">
          <li class="list-group-item">Orci varius natoque</li>
          <li class="list-group-item">Proin cursus blandit</li>
          <li class="list-group-item">Cras sed orci</li>
        </uL>-->
        <div class="card-body">
          <a href="#" class="card-link">Leia Mais</a>
          <!--<a href="#" class="card-link">Redes Socias</a>-->
        </div>
        <!--<div class="card-footer text-muted">
          Maecenas ac
        </div>-->

      </div>

    </div>

    <div class="col-sm-6 col-md-4">

      <div class="card mb-5">

        <img class="card-img-top" src="assets/img/foto1.jpg">
        <div class="card-body">
            <h4 class="card-title">John Smith</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Testemunho - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, 
              aspernatur, voluptatibus, atque, tempore molestiae.</p>
          </div>
          <!--<uL class="list-group list-group-flush">
            <li class="list-group-item">Orci varius natoque</li>
            <li class="list-group-item">Proin cursus blandit</li>
            <li class="list-group-item">Cras sed orci</li>
          </uL>-->
          <div class="card-body">
            <a href="#" class="card-link">Leia Mais</a>
            <!--<a href="#" class="card-link">Redes Sociais</a>-->
          </div>
          <!--<div class="card-footer text-muted">
            Maecenas ac
          </div>-->
  
        </div>

    </div>

    <div class="col-sm-6 col-md-4">

      <div class="card mb-5">

        <img class="card-img-top" src="assets/img/foto2.jpg">
        <div class="card-body">
            <h4 class="card-title">John Smith</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Testemunho - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, 
              aspernatur, voluptatibus, atque, tempore molestiae.</p>
          </div>
         <!-- <uL class="list-group list-group-flush">
            <li class="list-group-item">Orci varius natoque</li>
            <li class="list-group-item">Proin cursus blandit</li>
            <li class="list-group-item">Cras sed orci</li>
          </uL>-->
          <div class="card-body">
            <a href="#" class="card-link">Leia Mais</a>
            <!--<a href="#" class="card-link">Redes Sociais</a>-->
          </div>
         <!-- <div class="card-footer text-muted">
            Maecenas ac
          </div>-->
  
        </div>

    </div>

  </div>
</div>
<!--Fim do card -->

