/* You can add global styles to this file, and also import other style files */
/*@import "https://fonts.googleapis.com/css?family=Tangerine";

nav .navbar-brand {
    font-family: 'Tangerine', serif;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0;
 
}