
<a href="http://portalcadb.com/cadb/" target="_blank">
  <img src="assets/img/capa-cad.jpg" alt="Runway" style="width:100%" class="w3-hover-opacity">
</a>

<p style="text-align: center;">
  <strong>Propósitos!</strong> da Convenção da Assembleia de Deus no Brasil (CADB)!
</p>

<p style="text-align: justify;">REVIVER e continuar a história da Assembleia de Deus, iniciada em Belém do Pará, tendo a Bíblia como regra de fé e prática
  e os princípios éticos, morais e espirituais do Evangelho Pentecostal.</p>
<p style="text-align: justify;">EVANGELIZAR: Ser um fórum fraterno e voluntário de reflexão, estratégias e cooperação, priorizando a evangelização e missões
  no Brasil e até os confins da Terra, respeitando o papel e missão da Igreja.</p>
<p style="text-align: justify;">CRESCIMENTO: Registrar convenções estaduais e ministérios de igrejas Assembleia de Deus que solicitarem registro.</p>
<p style="text-align: justify;">RESPONSABILIDADE SOCIAL: Promover a responsabilidade social da igreja, especialmente nas áreas da educação, cultura e comunicação</p>
<p style="text-align: justify;">RECONHECER E PROMOVER A CHAMADA Congregar, congraçar e promover o ministério cristão de pastor(a), evangelista, missionário(a),
  sem distinção da vocação e chamada divina de homens e de mulheres;</p>




<a href="http://www.adbelem.org.br/" target="_blank">
  <img src="assets/img/capa-tema.jpg" alt="Runway" style="width:100%" class="w3-hover-opacity">
</a>
<p style="text-align: center;">
  <strong>Missão!</strong> Cheios do Espírito Santo, nossa missão é: + ADORAR a Deus, MANTER COMUNHÃO com os irmãos, EVANGELIZAR
  os povos, DISCIPULAR os salvos, + VIGIAR e ORAR até Jesus voltar.!</p>

<p style="text-align: justify;"> A Assembleia de Deus foi fundada em 18 de junho de 1911, em Belém (PA), pelos missionários suecos Daniel Berg e Gunnar Vingren.
  É a primeira igreja pentecostal do país, ou seja, que acredita nas manifestações atuais do Espírito Santo tal qual acontecia
  nos dias dos apóstolos. A obra iniciada em Belém se espalhou para todos os estados do Brasil e diversos países do mundo.
  Após 104 anos de atividades, a Assembleia de Deus é hoje a maior igreja evangélica do Brasil, com cerca de 20 milhões de
  membros.
</p>

<a href="http://www.ebd.adbelem.org.br/v2/" target="_blank">
  <img src="assets/img/msg4.jpg" alt="Runway" style="width:100%" class="w3-hover-opacity">
</a>
<p style="text-align: center;">
  <strong>Sobre!</strong>
  Programa de Educação Cristã Continuada!</p>

<p style="text-align: justify;">Com o Programa de Educação Cristã Continuada, você oficializa o seu estudo na Escola Dominical como Curso-Bíblico-Teológico
  Básico, conferindo-lhe certificado e a continuidade de seus estudos em Nível Médio, Bacharel e Pós-graduação.</p>

<hr>