<div class="card">
    <img src="assets/img/pastor.jpg" alt="John" style="width:100%">
    <h3>José Neto</h3>
    <br>
    <div class="w3-center">
        <p style="font-style: italic; font-size:20px;">"José Neto é o líder da Igreja Assembleia de Deus - Templo Primeiro de Dezembro II, casado com Laryssa Siqueira."</p>
        <a href="https://www.facebook.com/jose.neto.14289 " target="_blank">
            <i class="fab fa-facebook-square w3-hover-opacity w3-xlarge"></i>
        </a>
        <a href="https://www.instagram.com/j_neto21/?hl=pt-br" target="_blank">
            <i class="fab fa-instagram w3-hover-opacity w3-xlarge"></i>
        </a>
    </div>
    <div class="w3-container w3-teal">
        <p style="font-family:'Tangerine', cursive;  font-size: 2.75rem;">Pastor</p>
    </div>
</div>
