 <!-- Navbar -->
 <div class="w3-content" style="max-width:1100px;margin-bottom:30px">
    <!--Conteudo-->
    <!-- Header -->
<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-grayscale-min" id="us">
  <div class="w3-content">
    <!-- <h1 class="w3-center w3-text-grey"><b>Jane & John</b></h1> -->
    <img class="w3-round w3-grayscale-min" src="assets/img/quarta.jpg" style="width:100%;margin:3px 0">
    <!-- <p><i>You all know us. And we all know you. We are getting married lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</i> -->
    <!-- </p><br> -->
    <!-- <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p> -->
    <img class="w3-round w3-grayscale-min" src="assets/img/circulo-de-oracao.jpg" style="width:100%;margin:32px 0">

    <img class="w3-round w3-grayscale-min" src="assets/img/ensino.jpg" style="width:100%;margin:32px 0">

    <img class="w3-round w3-grayscale-min" src="assets/img/culto-familia.jpeg" style="width:100%;margin:32px 0">

    <img class="w3-round w3-grayscale-min" src="assets/img/culto_de_celebracao.jpg" style="width:100%;margin:3px 0">

  </div>
</div>

  
 