<div>
    <a class="navbar-brand" href="#">
        <img src="assets/img/icone.png" style="width:10%" class="img-fluid" alt="Responsive image">
    Assembleia de Deus
  </a>
  <p>Primeiro de Dezembro 2</p>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>

<app-navbar></app-navbar>


